
.event-add-wrap {
  text-align: center;
  background-color: white;
  width: 70%;
  height: 50%;
  margin: 0 auto;
}

.event-add-top {
  font-size: 24px;
}

.event-new-select {
  margin: 24px;
}

.place {
  margin: 24px;
}

.fee {
  margin: 24px;
}

.time {
  margin: 24px;
}
/* .event-add-top {
  font-size: 24px;
  overflow: hidden;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1)0.5s;
  color: #aa8f7b;
}

.event-add-top span {
  display: block;
  transform: translate(100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1)0.5s;
}

.event-add-top.-visible,
.event-add-top.-visible span {
  transform: translate(0, 0);
}

.event-add-sentence {
  overflow: hidden;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  font-family: "Yu Gothic Medium";
  font-size: 16px;
  text-align: center;
}

.event-add-sentence span {
  display: block;
  transform: translate(100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.event-add-sentence.-visible,
.event-add-sentence.-visible span {
  transform: translate(0, 0);
} */