.event-add  {
  text-align: center;
}

.event-add a {
  display: inline-block;
  width: 20%;
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  background-color: #55b1df;
  border-radius: 30px;
}

.event-add a:hover {
  background: white;
}

.post-btn-add {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.execution-indicate {
  color: red;
}