.event-add {
  width: 20%;
  height: 32px;
  line-height: 32px;
  background-color: #55b1df;
  border-radius: 30px;
  margin: 32px auto;
  text-align: center;
  transition: 0.5s;
}

.event-add:hover {
  background: white;
}

.post-btn-add {
  text-decoration: none;
  color: black;
}