.list-search-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  margin: 32px 0;
  background-color: lightblue;
  align-items: center;
}

.left-search-list {
  display: flex;
}

.left-search-list > li > a {
  margin-left: 3vw;
  text-decoration: none;
  color: black;
}

.right-content {
  text-align: right;
}

.right-content > li > a {
  margin-right: 3vw;
  text-decoration: none;
  color: black;
}

.list-wrapper {
  background-color: #ffe4c4;
  padding-bottom: 80px;
}

.header-list-text {
  color: #5c5c5c;
  text-align: center;
  padding: 16px 0;
  font-size: 32px;
  margin-bottom: 40px;
}

.list-text-head {
  font-size: 16px;
}

.store-img {
  width: 50vw;
  height: 100%;
  object-fit: cover;
}

.list-list {
  display: flex;
  margin-bottom: 100px;
}

.list-list:nth-child(even) {
  flex-direction: row-reverse;
}

.store-name-content {
  width: 33%;
  text-align: center;
  margin: 0 auto;
}

.name-content {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 64px;
}

.name-content > a {
  color: #5c5c5c;
  text-decoration: none;
}

.name-content > a:hover {
  color: #55b1df;
}

.desc-content {
  font-size: 24px;
}