.show-main-container {
  background-color: #ffe4c4;
}

.detail-img {
  text-align: center;
}

.img-detail {
  width: 50vw;
}

.detail-name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.detail-desc {
  width: 50vw;
  position: relative;
  margin: 40px auto;
  padding: 16px 16px;
  border: solid 3px #62c1ce;
}

.box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  color: #ffffff;
  background-color: #62c1ce;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.detail-desc > p {
  margin: 0;
  padding: 0;
}

.send-btn:hover {
  background-color: white;
  color: #55b1df;
}

.send-btn {
  text-decoration: none;
  text-align: center;
  line-height: 56px;
  display: block;
  margin: 64px auto;
  transition: all 0.5s;
  background-color: #55b1df;
  border: 1px solid #55b1df;
  color: white;
  border-radius: 30px;
  width: 33%;
  height: 56px;
  cursor: pointer;
  font-size: 20px;
}

.border-line {
  border: 1px solid white;
  margin-bottom: 32px;
}

.comment-header-text {
  position: relative;
  margin: 0 auto;
  padding: 8px 15px;
  background: #62c1ce;
  border-radius: 30px;
  font-weight: bold;
  width: 10%;
  color: white;
  text-align: center;
}

.comment-header-text::before {
  font-family: FontAwesome;
  content: "\f111";
  position: absolute;
  font-size: 15px;
  left: -40px;
  bottom: 0;
  color: #62c1ce;
}

.comment-header-text::after {
  font-family: FontAwesome;
  content: "\f111";
  position: absolute;
  font-size: 23px;
  left: -23px;
  bottom: 0;
  color: #62c1ce;
}

.comment-wrap {
  margin: 24px 0;
}

.baloon {
  position: relative;
  display: inline-block;
  width: 300px; 
  text-align: center;
  color:#FFF;
  padding: 10px;
  margin-left: 32px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #62c1ce;
}

.baloon:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: transparent white;
  border-width: 10px 10px 10px 0;
  top: 50%;
  left: -10px;
  margin-top: -10px;
}

.comment-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.date-time {
  color: black;
}

.comment-txt {
  text-align: left;
  padding-bottom: 16px;
  color: black;
}