<%= render "shared/header_logo" %>

<div class="check-wrap">
  <div class="check-text">
    投稿に成功しました。
  </div>

  <div class="back-top-page">
    <%= link_to "TOPページへ戻る", root_path, class: "back-text" %>
  </div>
</div>