<%= render "shared/header_logo" %>

<div class="check-wrap">
  <div class="check-text">
    <h3 class="check-text-top">サウナ施設の情報投稿ありがとうございます！</h3>
    <p class="check-text-bottom">ご入力していただいた情報は無事に送信されました。</p>
  </div>

  <div class="back-top-page">
    <%= link_to "TOPページへ戻る", root_path, class: "back-text" %>
  </div>
</div>