<%= render "shared/header_logo" %>

<div class="list-wrapper">
  <div class="header-list-content">
    <h2 class="header-list-text">
      施設一覧画面
      <p class="list-text-head">※各施設名または写真をクリックすると詳細ページへアクセスできます！</p>
    </h2>
  </div>
  <ul class="list-page-wrap">
    <% @stores.each do |store| %>
      <li class="list-list">
        <div class="store-img-content">
          <%= link_to image_tag(store.image, class: "store-img"), store_path(store.id) %>
        </div>
        <div class="store-name-content">
          <div class="name-content"><%= link_to store.store_name, store_path(store.id) %></div>
          <div class="desc-content"><%= store.description %></div>
        </div>
      </li>
    <% end %>
  </ul>
</div>



