.shared-header-content {
  font-size: 56px;
  letter-spacing: 12px;
  text-align: center;
  background-color: #ffe4c4;
}

.shared-header-content-color {
  font-family: 'Kaushan Script', cursive;
  color: #5c5c5c;
  text-decoration: none;
}