<%= render "shared/header_logo" %>

<div class="check-wrap">
  <div class="user-register">
    <h3>ユーザー登録が正常に完了しました！！</h3>
    <p>※尚、こちらにご登録された情報はマイページ編集でいつでも変更可能です。</p>
  </div>

  <div class="back-top-page">
    <%= link_to "TOPページへ戻る", root_path, class: "back-text" %>
  </div>
</div>