// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Gill Sans", sans-serif;
  background-color: #ffe4c4;
  height: 100vh;
}

.notification {
  text-align: center;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  padding: 24px 0 0 24px;
}

.main-text {
  text-decoration: none;
  color: #5c5c5c;
}

.header-nav > .header-lists-right {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.app-logo {
  width: 150px;
  border-radius: 150px;
  border: 3px solid #5c5c5c;
}

span.header-content-color {
  font-family: 'Kaushan Script', cursive;
  color: #5c5c5c;
}

.stores-list-nav {
  margin-right: 32px;
  text-decoration: none;
  color: #5c5c5c;
}

.new-store-nav {
  margin-right: 32px;
  text-decoration: none;
  color: #5c5c5c;
}

.user-name-nav {
  margin-right: 32px;
  text-decoration: none;
  color: #5c5c5c;
}

.logout-nav {
  margin-right: 32px;
  text-decoration: none;
  color: #5c5c5c;
}

.login-nav {
  margin-right: 32px;
  text-decoration: none;
  color: #5c5c5c;
}

.sign-up-nav {
  margin-right: 32px;
  text-decoration: none;
  color: #5c5c5c;
}

.top-main-sauna {
  background-image: image-url('3098876_m.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.quiz-background {
  background-image: image-url('4527053_m.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.top-sauna-rgba {
  height: 100%;
  background: rgba(255,255,255,0.5);
}

.top-sauna-text {
  margin: 100px;
}

.question {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.small-question {
  font-size: 14px;
  font-weight: normal;
}

dl > div {
  margin-bottom: 8px;
}

dt {
  padding: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

dt::before {
  content: 'Q. ';
}

dt::after {
  content: '☟';
  position: absolute;
  top: 8px;
  right: 16px;
  transition: transform .3s;
}

dl > div.appear dt::after {
  transform: rotate(45deg);
}

dd {
  padding: 8px;
  display: none;
}

dd::before {
  content: 'A. ';
  color: red;
}

dl > div.appear dd {
  display: block;
  animation: .3s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.sauna-quiz {
  text-align: center;
  padding-top: 60px;
}

.sauna-quiz a:hover {
  background-color: white;
  color: #55b1df;
}

.sauna-quiz a {
  transition: all 0.5s;
  background-color: #55b1df;
  border: 1px solid #55b1df;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  padding: 8px 32px;
  font-size: 24px;
}

.sauna-top-text {
  font-weight: bold;
}

.route {
  padding-bottom: 8px;
  color: crimson;
  font-size: 20px;
}


footer  {
  position: absolute;
  bottom: 0;
}

.caution {
  font-size: 16px;
  font-weight: bold;
}

.footer-container {
  width: 100%;
}

h4 {
  text-align: center;
  color: #5c5c5c;
}