.registration-main {
  display: flex;
  justify-content: center;
  background-color: #ffe4c4;
  padding-bottom: 88px;
}

.notes {
  text-align: center;
}

.notes-text {
  color: red;
}

.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  text-align: center;
}

.form-header-text {
  font-size: 24px;
  line-height: 80px;
  border-bottom: solid 2px whitesmoke;
}

.form-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 30px;
}

.form-text-wrap {
  width: 100%;
  height: 24px;
}

.form-text {
  font-weight: bold;
  font-size: 16px;
  color: #5c5c5c;
}

.default-info {
  width: 100%;
  margin-top: 5px;
  height: 24px;
  padding: 12px 16px 8px;
  font-size: 16px;
  margin: 0 -16px;
  resize: none;
}

.info-text {
  margin-top: 8px;
}

.personal-info {
  font-weight: bold;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 150px;
  padding: 6px 8px;
  margin: 5px 20px 0 20px;
  height: 32px;
  line-height: 30px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 75px;
  height: 45px;
  font-size: 16px;
  cursor: pointer;
  padding-left: 4px;
}

.register-btn {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 48px;
}

.register-color:hover {
  background-color:white;
  color: #55b1df;
}

.register-color {
  transition: all 0.5s;
  background-color: #55b1df;
  border: 1px solid #55b1df;
  color: white;
  border-radius: 30px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
}

.edit-notice {
  font-size: 20px;
  font-weight: bold;
  padding: 16px 0;
  color: red;
}