.user-head-text {
  text-align: center;
  font-size: 40px;
  color: #5c5c5c;
  margin-bottom: 48px;
}

.user-detail-head {
  margin-top: 24px;
}

.detail-table {
  margin: 0 auto;
}

.detail-list-user {
  width: 20%;
  text-align: center;
  background-color: lightblue;
  border: 1px solid black;
  padding: 16px;
}

.detail-name-user {
  width: 80%;
  text-align: center;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  padding: 16px;
}

.user-show-top {
  margin-bottom: 64px;
  position: relative;
}

.user-show-list {
  font-size: 20px;
  padding-left: 72px;
}

.user-show-list > .show-list {
  display: inline-block;
  font-size: 12px;
}

.list-detail > .list-single > a{
  padding: 15px 30px;
  display: block;
  font-size: 0.8em;
  letter-spacing: 4px;
}

.user-show-list > .show-list:hover {
  color: blue;
}

.list-detail{
  position: absolute;
  top: 18px;
  left: 18px;
}

.list-single{
  display: block;
  width: 160px;
  border: 1px solid #5c5c5c;
}

.list-single a{
  background-color: #efefef;
  color: #444;
  text-decoration: none;
}

.list-single a:hover{
  background-color: #ddd;
}

.list-detail{
  display: none;
}

.show-list:hover .list-detail{
  display: block;
}

.erase-wrap {
 text-align: center;
 height: 100vh;;
}

.erase-user {
  font-size: 40px;
  padding: 300px 0;
}

.erase-user-text {
  font-size: 20px;
}