.user-head-text {
  text-align: center;
  font-size: 40px;
  color: #5c5c5c;
  margin-bottom: 48px;
}

.user-detail-head {
  margin-top: 24px;
}

.detail-table {
  margin: 0 auto;
}

.detail-list-user {
  width: 20%;
  text-align: center;
  background-color: lightblue;
  border: 1px solid black;
  padding: 16px;
}

.detail-name-user {
  width: 80%;
  text-align: center;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  padding: 16px;
}

.withdrawal {
  margin-top: 60px;
  width: 75%;
  text-align: right;
  margin-bottom: 100px;
}

.show-withdrawal-btn:hover {
  color: red;
}

.show-withdrawal-btn {
  font-size: 16px;
  transition: 0.5s;
  text-decoration: none;
  color: black;
}







.user-show-top {
  margin-bottom: 13em;
  position: relative;
  width: 100%;
  /* background-color: #444; */
}

.user-show-list {
  padding-left: 48px;
}

.user-show-list > .show-list {
  display: inline-block;
  /* padding: 15px 30px; */
  /* display: block; */
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.list-detail > .list-single > a{
  padding: 15px 30px;
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.user-show-list > .show-list:hover {
  color: blue;
}

.list-detail{
  position: absolute;
  top: 18px;
  left: 18px;
}

.list-single{
  display: block;
}

.list-single a{
  background-color: #efefef;
  color: #444;
  text-decoration: none;
}

.list-single a:hover{
  background-color: #ddd;
}

.list-detail{
  display: none;
}

.show-list:hover .list-detail{
  display: block;
}